* {
    box-sizing: border-box;
}
body {
    margin-left:10px;
    margin-right:Arial, Helvetica, sans-serif;
}
.topbar{
    margin-left:-10px;
    margin-right:-10px;
    overflow: hidden;
    background-color: black;
}
.topbar a{
    float:left;
    color: whitesmoke;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}
.topbar a:hover{
    background-color: blueviolet;
    color: black;

}
.topbar a.active{
    background-color: aqua;
    color: aliceblue;

}
.bold{
    background-color: aquamarine;
    color: white;
}
